<h2>This name category</h2>
<h3>  {{categoryList.category}}</h3>


 <details>
    <ul>
        {{#each categoryList.memos}}
                <li>
                    <p>Название заметки: {{title}}</p>
                    <p>Текс заметки: {{memo}}</p>
                    <p>Время создание: {{time}}</p>
                </li>
        {{/each}}
    </ul>
 </details>

