<div class="row">
  <nav class="col-md-6 col-md-offset-3">
  <a href="/memo">Memo</a> |
  <a href="/memo/list">List Memos |
  <a href="/category/list">List Category</a> |
  <a href="/category">Category</a>|
  <a href="/add">Add Memo in Category</a>
  </nav>
</div>
